.ace_editor {
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 100%;
  width: 100%;
}

.editorPanel {
  background: white;
  padding: 0px;

}

.ui-accordion .ui-accordion-content {padding:0px }

#edit8 {
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 100%;
  width: 100%;
}

.ace_editor.fullScreen {
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#topButtonBar {
  float:right;
}
#listenButtonBar {
  float:right;
}

.fullScreen {
  overflow: hidden
}

.onOffRadios {
  float: right;
  width: auto;
  font-size: 50%;
}

.ui-widget {
  font-family: Monaco, Verdana,Arial,sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  color: darkblue;
}

.snapDesc {
  border-style: solid;
  border-width: 1px;
  padding:5px;
  font-size:90%;
}

.docPopup {
  background:white; padding:10px; border-box:10px; max-width:70%; visibility:hidden; max-height:80%; overflow-y:scroll;
}

#realtimeErrorMessage {
  background:red; color: white; padding: 2px; font-family: Monaco, Courier; font-size: 80%;
}

#syntaxErrorMessage {
  background:blue; color: white; padding: 2px; font-family: Monaco, Courier; font-size: 80%;
}

.titlestyle {
  color: white; padding: 2px; font-family: Monaco, Courier; font-size: 120%; float:left; background-color: grey; padding: 5px;
  text-shadow: 1px 4px 3px #2c2e2c, 5px 5px 8px #898989;
}

.ui-layout-north {
  font-family: Monaco, Courier;
}
